{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

        <form method="get" style="text-align: center;">
            <div class="modal-header">
                <h3 class="modal-title">Filters</h3>
            </div>
            <div class="modal-body">
                {% for field in teacher_filter.form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% render_field field class="form-control" placeholder=field.label %}
                </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
        
        {%if all != True %}

        <div class="col-sm">
            <h2>Profesores recomendados</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                  </tr>
                </thead>
                <tbody>
                    {%for teacher in object_list%}
                  <tr>
                    <td>{{teacher}}</td>
                </tr>
                  {%endfor%}
                </tbody>
              </table>

          </div>
          
            <div class="row">

              <div class="col-sm">

                <h2>Profesores sin experiencia</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for teacher in teachers_no_experience%}
                      <tr>
                        <td>{{teacher}}</td>
                    </tr>
                      {%endfor%}
                    </tbody>
                  </table>

              </div>
              <div class="col-sm">

                <h2>Profesores sin tiempo</h2>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nombre</th>
                      </tr>
                    </thead>
                    <tbody>
                        {%for teacher in teachers_no_time%}
                      <tr>
                        <td>{{teacher}}</td>
                    </tr>
                      {%endfor%}
                    </tbody>
                  </table>

              </div>
            </div>
          
          


        {%endif%}
{% endblock content %}